h2 {
    color: red;
}

.container[role=main] {
    margin-top: 75px;
}

.chirp {
    .margin: 10px 0;
}

.username {
    font-size: 16px;
}

.error-field {
    border-color: red;
}

.profile-icon {
    padding: 20px;
    border: 1px solid #383838;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 30px;
}